{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <h2 style="color:rgb(185, 67, 67); font-weight: lighter; margin-left: 10px; margin-top: 60px;">Add Movie</h2>
    <form method="post" enctype="multipart/form-data" style="color: ghostwhite; margin-left: 10px; padding-bottom: 20px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Add Movie</button>
        <a href="{% url 'filmapp:allProdCat' %}"></a>
    </form>
</body>
</html>
{% endblock %}