{% extends 'base.html' %}
{% block content %}
  <h2 style="color:rgb(185, 67, 67); font-weight: lighter; margin-left: 10px; margin-top: 60px;">Confirm Delete</h2>
  <p style="color: ghostwhite; margin-left: 10px;">Are you sure you want to delete the product '{{ product.name }}'? This action cannot be undone.</p>

  <form method="post" style="color: ghostwhite; padding-bottom: 385px; margin-left: 10px;">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit">Yes, Delete</button>
    <a class="btn btn-dark" href="{% url 'filmapp:allProdCat' %}">Cancel</a>
  </form>
{% endblock %}