<div class=" my_footer " style="background-color: lightgrey; height: 110px;">
    <div class="footer_p" >
      <p style="font-family:cursive; font-size: large; color: firebrick;">&copy; av cinema pvt ltd</p>
    </div>
       <div class="myFootericons" >
        <ul>
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-facebook" style="color: #000000;"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-twitter" style="color: #000000;"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-linkedin" style="color: #000000;"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-instagram" style="color: #000000;"></i></a>
          </li>
        </ul>
  
       </div>              
  </div>